extends layout

block content
  h1= title
  p  #{title}
  - const results=[];
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-sm-2">
        <div>hammer</div>
        <div>large</div>
        <div>25.99</div>
      </div>
    </div>
  </div>

